form {
    margin: 8% 30% 1% 35%;
    padding: 1% 1% 1% 0.5%;
    background-color: #ffdada;
    border-radius: 2%;
}

h2 {
    text-align: center;
}

.submit {
    border-radius: 50px;
    width: 30%;
    box-shadow: 5px 10px 8px #888888;
    height: 60%;
    padding: 2%;
    background-color: aqua;
    margin-bottom: 2%;
    margin-left: 35%;
    text-shadow: 2px 2px 5px rgb(255, 151, 238);
}

.submit:hover {
    background-color: rgb(220, 236, 236);
}